:root {
    /*color-scheme: dark;*/
    --main-color: silver;
    --background-color: darkseagreen;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(0deg, var(--background-color), white, var(--background-color));
}

* {
    /*background: black;*/
    /*color: silver;*/
    /*box-sizing: border-box;*/
}

#main-wrapper {
    display: block;
    margin: 2rem auto;
}

#main-wrapper > article {
    /*padding: 3rem;*/
}

#profiles {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#profiles > .wall {
    text-align: center;
    margin: 10px;
}

#profiles > .wall > img {
    width: 3rem;

}


.main-time {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: space-around;
}

.time-wrapper {
    margin: 1rem;
    display: inline-flex;
    flex-direction: column;
}

#real-time, #real-time-korea {
    display: flex;
    justify-content: center;
}

#real-time > *, #real-time-korea > * {
    font-size: 1rem;
    text-align: center;
    animation: colorSilverToGray 1s infinite;
    align-self: anchor-center;
}

.wall {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px var(--main-color), -1px 1px 1px var(--main-color), 1px -1px 1px var(--main-color), -1px -1px 1px var(--main-color);
    border: 1px groove var(--main-color);
}

.wall + .korea {
    background: linear-gradient(45deg, var(--background-color), white, var(--background-color));
}


.time-unit {
    margin: 0.2rem;
    padding: 0.2rem;
    border: 2px solid gray;
    border-radius: 0.5rem;
}

@keyframes colorSilverToGray {
    0%, 100% {
        color: gray;
    }

    50% {
        color: var(--main-color);
    }
}


@media (min-width: 600px) {
    #real-time > *, #real-time-korea > * {
        font-size: 5rem;
    }
}

@media (min-width: 1200px) {
    #main-wrapper {
        margin: 0;
        display: flex;
        justify-content: space-around;
    }

    #main-wrapper > article {
        max-width: 100%;
        width: 100%;
    }
}