:root {
    /*color-scheme: dark;*/
    --main-color: silver;
    --background-color: black;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: silver;
}

body {
    background: linear-gradient(135deg, var(--main-color), var(--background-color));
    height: 100vh;
}

.main-time {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.wall {
    background: rgba(0, 0, 0, 0.7);
    margin: 1rem;
    padding: 1rem;
}

.wall p {
    margin: 0 0 1rem 0;
    text-align: center;
}

.wall, .time-unit {
    border-radius: 1rem;
}

.time-unit {
    border: 1px solid;
    width: 100%;
    padding: 10px;
}

.real-time {
    display: flex;
    text-align: center;
    font-size: 10vw;
    justify-content: center;
}

@media (width < 600px) {
    .real-time {
        font-size: 3rem;
    }
}

@media (width < 1200px) {
    .main-time {
        display: block;
    }

    .wall {
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}