html, body {
    margin: 0;
    padding: 0;
}

* {
    background: black;
    color: silver;
}

#main-wrapper > article {
    max-width: 600px;
    display: block;
}


@media (max-width: 1200px) {
    #main-wrapper{
        display: flex;
        justify-content: space-around;
    }


}